{% extends "base.html" %}
{% block title %}Add Item{% endblock title %}

{% block head %}
    {{ super() }}
{% endblock head %}

{% block content %}
    <h1>Update Item</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            <span class="form-label">{{ form.item.label }}</span>
            {{ form.item(size=32) }}
        </p>
        
        <p>
            <span class="form-label">{{ form.owner.label }}</span>
            {{ form.owner(size=32) }}
        </p>

        <p>
            <span class="form-label">{{ form.description.label }}</span>
            {{ form.description(size=512) }}
        </p>

        <p> {{ form.submit() }}</p>

    </form>
{% endblock content %}
